*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container{
    background-color: #151F35;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
}

.header{
    display:flex;
    align-items: center;
    padding-bottom: 50px;
}

.list-item{
    display: flex;
    list-style: none;
    padding-left: 50px;
}

a{
    text-decoration: none;  
    padding: 30px;
    color: white;  
}

.box{
    border-top-style: solid;
    color: white;
    border-width: 2px 0 2px 0;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.box-item{
    padding-left: 40px;
    padding-right: 60px;
}

h2{
    font-weight: 700;
    font-size: 41px;
    line-height: 63px;
    padding-bottom: 30px;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150.02%;
    padding-right:100px;
}

.box-buton{
    padding-left: 40px;
    padding-bottom: 60px;
}

.buton{
    border: none;
    color: white;
    background-color: #248DE9;
    border-radius: 10px;
    font-size: 14px;
    width: 219px;
    height: 46px;
    left: 178px;
    top: 504px;
}

.container-valores{
    border-style: hidden;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(236, 236, 236);
}

.valores{
    display: flex;
    justify-content: space-around;
}
.valor{
    font-weight: 700;
    font-size: 42px;
    line-height: 10px;
}

.container-text{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
    display: flex;
}

.text{
    margin: 10px;

}

.boox{
    height: 300px;
    width: 400px;
    background: linear-gradient(180deg, #0C78D7 0%, #439DEC 53.65%, #0C78D7 100%);
    border-radius: 10px;
    padding: 20px 30px;
    margin: 10px;
    color: #FFFFFF;
}

h3{
    padding-bottom: 30px;
    line-height: 30px;
}

h1{
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
}

.lorem{
    padding-top: 30px;
    font-size: 16px;
}

.botao{
    margin-top: 50px;
}

.containerid{
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(236, 236, 236);
}

.id{
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    padding-top: 40px;
}

.sobre{
    padding-bottom: 80px;
    padding-left: 200px;
}

.cadastro{
    padding: 100px;
    background-color: rgb(251, 251, 251);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout{
    flex-direction: column;
}

.item-cadastro{
    text-align: center;
    margin-bottom: 40px;
}
.orçamento{
    line-height: 60px;
    text-align: center;
    padding-left: 80px;
}

.input{
    background-color: rgb(236, 236, 236);
    text-align: center;
    padding: 100px 80px;
    border-style:hidden;
}



.clase{
    width: 100%;
    height: 62px;
    opacity: 0.8;
    border: 1.5px solid rgba(187, 187, 187, 0.8);
    border-radius: 8px;
    margin: 10px;
    padding-left: 20px;
}


.it{
    text-align: center;
}